/* This file is for your main application css. */

@import "./phoenix.css";
@import './bootstrap.min.css';

.pronounce{
  color: green;
}

.speech{
  color: grey;
}

.flex{
    display: flex;
    align-items: baseline;
}
.flex h1{
  margin: 5px;
}
